version: "3.9"

networks:
  doodle_net:
    name: doodle_net
    driver: bridge

volumes:
  pg_user_data:
  pg_arenas_data:
  pg_session_data:
  pg_matchmaker_data:
  pg_leaderboard_data:

services:
  # --------------- user-db ---------------
  postgres-user:
    image: postgres:16-alpine
    container_name: doodle_postgres_user
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: user_service_db_doodleJumpMotion
    volumes:
      - pg_user_data:/var/lib/postgresql/data
      - ./initdb.d/01-user-service.sql:/docker-entrypoint-initdb.d/01-user-service.sql
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d user_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- arenas-db ---------------
  postgres-arenas:
    image: postgres:16-alpine
    container_name: doodle_postgres_arenas
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: arenas_service_db_doodleJumpMotion
    volumes:
      - pg_arenas_data:/var/lib/postgresql/data
      - ./initdb.d/02-arenas-service.sql:/docker-entrypoint-initdb.d/02-arenas-service.sql
    networks:
      - doodle_net

  # --------------- session-db ---------------
  postgres-session:
    image: postgres:16-alpine
    container_name: doodle_postgres_session
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: sessions_service_db_doodleJumpMotion
    volumes:
      - pg_session_data:/var/lib/postgresql/data
      - ./initdb.d/03-session-service.sql:/docker-entrypoint-initdb.d/03-session-service.sql
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d sessions_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- matchmaker-db ---------------
  postgres-matchmaker:
    image: postgres:16-alpine
    container_name: doodle_postgres_matchmaker
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: matchmaker_service_db_doodleJumpMotion
    volumes:
      - pg_matchmaker_data:/var/lib/postgresql/data
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d matchmaker_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
  # --------------- leaderboard-db ---------------
  postgres-leaderboard:
    image: postgres:16-alpine
    container_name: doodle_postgres_leaderboard
    restart: unless-stopped
    environment:
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: Admin
      POSTGRES_DB: leaderboard_service_db_doodleJumpMotion
    volumes:
      - pg_leaderboard_data:/var/lib/postgresql/data
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U daniil -d leaderboard_service_db_doodleJumpMotion",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- redis ---------------
  redis:
    image: redis:7-alpine
    container_name: doodle_redis
    restart: unless-stopped
    networks:
      - doodle_net
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1m
      timeout: 3s
      retries: 5

  # --------------- nats ---------------
  nats:
    image: nats:alpine
    container_name: doodle_nats
    restart: unless-stopped
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8222/healthz",
        ]
      interval: 1m
      timeout: 3s
      retries: 5

  # --------------- user-service ---------------
  user-service:
    build: ./user-service
    container_name: doodle_user_service
    restart: unless-stopped
    depends_on:
      postgres-user:
        condition: service_healthy
    environment:
      DB_HOST: postgres-user
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: user_service_db_doodleJumpMotion
      INTERNAL_API_TOKEN: super_secret_token_123
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8080/health",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- arenas-service ---------------
  arenas-service:
    build: ./arenas-service
    container_name: doodle_arenas_service
    restart: unless-stopped
    depends_on:
      - postgres-arenas
      - user-service
    env_file:
      - ./arenas-service/.env # USER_SERVICE_URL=http://doodle_user_service:8080
    environment:
      DB_HOST: postgres-arenas
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: arenas_service_db_doodleJumpMotion
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8081/arena/0",
        ]
      interval: 1m
      timeout: 5s
      retries: 5

  # --------------- session-service ---------------
  session-service:
    build: ./session-service
    container_name: doodle_session_service
    restart: unless-stopped
    depends_on:
      postgres-session:
        condition: service_healthy
      user-service:
        condition: service_healthy
    env_file:
      - ./session-service/.env
    environment:
      DB_HOST: postgres-session
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: sessions_service_db_doodleJumpMotion
      DB_SSLMODE: disable
      USER_SERVICE_URL: http://user-service:8080
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8083/health",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- matchmaker ---------------
  matchmaker:
    build: ./matchmaking-service
    container_name: doodle_matchmaker
    restart: unless-stopped
    depends_on:
      postgres-matchmaker:
        condition: service_healthy
      redis:
        condition: service_started
      nats:
        condition: service_started
      session-service:
        condition: service_healthy
    env_file:
      - ./matchmaking-service/.env
    environment:
      DB_HOST: postgres-matchmaker
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: matchmaker_service_db_doodleJumpMotion
      REDIS_ADDR: redis:6379
      NATS_URL: nats://nats:4222
      SESSION_URL: http://session-service:8083/sessions/
    networks:
      - doodle_net
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:8084/enqueue",
        ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 15s

  # --------------- GAME (prod, статика) ---------------
  # раскомментируй когда понадобится продакшен
  game-prod:
    build:
      context: ./game-service
      dockerfile: Dockerfile.prod
    container_name: doodle_game_prod
    environment:
      - USER_SERVICE_URL=https://164-68-111-100.sslip.io/api/user
      - SESSION_SERVICE_URL=https://164-68-111-100.sslip.io/api/session
      - SESSION_SERVICE_WS_URL=wss://164-68-111-100.sslip.io/ws
      - MATCHMAKER_SERVICE_URL=https://164-68-111-100.sslip.io/api/matchmaker
      - GAME_DEV_URL=https://164-68-111-100.sslip.io/game-view
    networks:
      - doodle_net

  frontend:
    build:
      context: ./website # папка c index.html и пр.
      dockerfile: Dockerfile
    container_name: doodle_frontend
    networks:
      - doodle_net
    environment:
      USER_SERVICE_URL: https://164-68-111-100.sslip.io/api/user
      SESSION_SERVICE_URL: https://164-68-111-100.sslip.io/api/session
      MATCHMAKER_SERVICE_URL: https://164-68-111-100.sslip.io/api/matchmaker
      GAME_DEV_URL: https://164-68-111-100.sslip.io/game-view
      SESSION_SERVICE_WS_URL: wss://164-68-111-100.sslip.io/ws
      ARENA_SERVICE: https://164-68-111-100.sslip.io/api/arena

  #--------------------LeadeBoard--------------------
  leaderboard-service:
    build: ./leaderboard-service
    container_name: doodle_leaderboard_service
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
      postgres-leaderboard:
        condition: service_healthy
      user-service:
        condition: service_healthy
    environment:
      REDIS_ADDR: redis:6379
      INTERNAL_API_TOKEN: super_secret_token_123
      DB_HOST: postgres-leaderboard
      DB_PORT: 5432
      DB_USER: daniil
      DB_PASSWORD: Admin
      DB_NAME: leaderboard_service_db_doodleJumpMotion
    networks:
      - doodle_net

  nginx-main:
    image: nginx:stable-alpine
    container_name: doodle_nginx_ssl
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./gateway.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - doodle_net
    depends_on:
      - frontend
      - game-dev

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
