version: "3.9"
services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  nats:
    image: nats:alpine
    ports:
      - "4222:4222"
      - "8222:8222"

  matchmaker:
    build: .
    ports:
      - "8084:8084"
    env_file:
      - .env
    depends_on:
      - redis
      - nats
